:root {
    --bg-color: rgb(60, 40, 24); /* default background color */
    --text-color: #aaaaaa; /* default text color */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);    
}

.tabSection { /* every tab section */
    font-family: 'Minecraft', sans-serif;
}
